@import './variables';
@import './mixins';


@media screen and (max-width: 500px) {

    .news-nav, .finance-nav {
        font-size: 2rem;
    }

    .location-details {
        font-size: 1.5rem;
    }

    .primary-nav {
        height: 100vh;
    }

    .links {
        display: flex;
        flex-flow: column nowrap;
        @include flex(column, nowrao, center, center);
        background: rgba(0,0,0,.5);
        height: 100vh;
    }

    .link, .primary-close {
        margin:auto;
        padding: 1rem;
        max-height: 10%;
        @include flex(column, nowrap, center, center);
    }

}

@media screen and (max-width: 900px) {
    .active-headlines, .about-content {
        font-size: 3vw;
    }

    .credits-content {
        font-size: 4vw;
    }

    .credits-list {
        text-align: left;
    }
}

@media screen and (min-height: 500px) {
    .active-headlines {
        font-size: 1.5rem;
    }

    .credits-content {
        font-size: 2rem;
    }
}
