@import './variables';

@keyframes fadein {
  from { 
      opacity: 0; 
  }
  to { 
      opacity: 1; 
  }
}

@keyframes fadeout {
  from { 
      opacity: 1; 
  }
  to { 
      opacity: 0; 
  }
}
@mixin emphasis($font, $size) {
  font: bold $size $font;
}

@mixin flex($direction, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin widget-layout($background-color) {
  // grid-area: $area;
  @include flex(column, nowrap, center, center);
  background: $background-color;
  transition: $transition-hover;
  // padding: 1rem;
  // box-sizing: border-box;
  cursor: pointer;
}

@mixin active-screen() {
  position: absolute !important;
  top: 0 !important;
  animation: fadein 1s;
}

@mixin popup-layout($background-color) {
  background: $background-color;
  // position: relative;
  // top: 100vh;
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
  "header"
  "content";
  padding: $screen-padding;
}

@mixin content-layout() {
  grid-area: content;
  @include flex(column, nowrap, space-around, center);
}

@mixin tab-navigation() {
  list-style: none;
  @include flex(row, wrap, space-around, center);
  margin: 0;
  padding: 0;
  width: 100%;
}

@mixin active-tab($font-color) {
  background: #FFF;
  border-radius: $border-radius;
  color: $font-color;
}

@mixin tab-links() {
  padding: $padding;
  transition: $transition-click;
  min-width: 30%;
}

@mixin tab-links-hover() {
  background: #FFFFFF90;
  border-radius: $border-radius;
  cursor: pointer;
}

@mixin tab-layout($font-size) {
  width: 100%;
  height: 100%;
  font-size: $font-size;
}

@mixin active-tab-layout() {
  @include flex(row, wrap, space-around, stretch);
}

@mixin active-content-layout($font-color, $padding) {
  background: #FFF;
  border-radius: $border-radius;
  color: $font-color;
  padding: $padding;
}

@mixin close-button() {
  color: $primary-color;
  font-weight: bold;
  transition: $transition-click;
}

@mixin close-button-hover() {
  background: #FFFFFF25;
  border-radius: 100%;
  cursor: pointer;
}

@mixin icon() {
  cursor: pointer;
  height: 75%;
  padding: .5rem;
  border-radius: $border-radius;
  transition: $transition-hover();
}

@mixin icon-hover() {
  background: #00000025;
}

@mixin icon-active() {
  transform: $transform-button;
}

@mixin nav-hover() {
  background: #FFF;
  color: $primary-nav-color;
  cursor: pointer;
}

@mixin nav-active() {
  transform: $transform-button;
}