@import './variables';
@import './mixins';

// @keyframes fadein {
//     from { 
//         opacity: 0; 
//     }
//     to { 
//         opacity: 1; 
//     }
//   }
  
//   @keyframes fadeout {
//     from { 
//         opacity: 1; 
//     }
//     to { 
//         opacity: 0; 
//     }
//   }
  
.active-popup {
    @include active-screen();
}


//-------------------------WEATHER------------------------------
.weather-popup {
    @include popup-layout($weather-color);
}

.weather {
    @include content-layout();
}

.weather-icon-popup {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.temp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: baseline;
}

.temp .current {
    @include emphasis($font, $emphasis-size);
}


//-------------------------CALENDAR--------------------------
.calendar-popup {
    @include popup-layout($calendar-color);
}

.calendar {
    @include content-layout();
    justify-content: flex-start;
}

.month {
    font-size: $month-size;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid #FFF;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}


.calendar-popup .day {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(7, 1fr);
    font-size: 1.5rem;
    flex-grow: 1;
    word-break: break-all;
    width: 100%;
}


//---------------------FINANCE-------------------------------
.finance-popup {
    @include popup-layout($finance-color);
    font-family: $finance-font;
}

.finance {
    @include content-layout();
}

.finance-nav {
    @include tab-navigation();
    // padding: 1rem;
    // box-sizing: border-box;
}

.finance .tab {
    @include tab-layout(1.5rem);
}

.indexes-info, .crypto-info {
    display: none;
}

.finance-nav {
    list-style: none;
    @include flex(row, wrap, space-around, center);
    line-height: 2;
    margin: 0;
    padding: 0;
}

.finance-nav li {
    @include tab-links();
}

.finance-nav li:hover {
    @include tab-links-hover();
}

.active-finance-tab {
    @include active-tab($finance-color);
}

.active-finance {
    @include flex(row, wrap, space-around, center);
    width: 100%;
    height: 100%;
}

.active-finance > article {
    @include active-content-layout($finance-color, .5rem);
    min-width: 30%;
}


//-------------------NEWS-------------------------
.news-popup {
    @include popup-layout($news-color);
}

.news {
    @include content-layout();
    padding: 1rem;
    box-sizing: border-box;
}

.news-nav {
    @include tab-navigation();
    padding: 1rem;
    box-sizing: border-box;
}

.news-nav li {
    @include tab-links();
    padding: .5rem;
}

.news-nav li:hover {
    @include tab-links-hover();
}


.news .tab {
    @include tab-layout(inherit);
    // width: 100%;
    // padding: $action-padding;
    // box-sizing: border-box;
}

.national-headlines, .world-headlines, .business-headlines {
    display: none;
    // opacity: 0;
    // transition: .5s;
    // padding: 1rem;
    // box-sizing: border-box;
}

.active-headlines {
    padding: 0;
    margin: 0;
    @include flex(column, nowrap, space-around, center);
    height: 100%;
}

.active-news-tab {
    @include active-tab($news-color);
    // padding: 1rem;
    // box-sizing: border-box;
}

.active-headlines li {
    @include active-content-layout($news-color, 2px);
    width: 100%;
}


