// [class$="-header"] {
//   display: grid;
//   grid-template-columns: 1fr 5fr 1fr;
//   grid-template-areas: '. title btn';
//   font-family: 'Tahoma', sans-serif;
//
// }
//
// [class$="-header__title"] {
//   grid-area: title;
// }
//
// [class$="-header__close"] {
//   grid-area: btn;
//   background: none;
//   border: none;
//   border: 3px solid pink;
// }

[class$="-header"] {
  // border: 3px solid pink;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: '. title btn';
  align-items: center;
  display: relative;
}

[class$='-header__title'] {
  grid-area: title;
  margin: 0;
}

[class$='-header__close'] {
  grid-area: btn;
  background: none;
  border: none;
  font-weight: bold;
  color: #FFF;
  font-size: 2rem;
}
