$close-btn: #FFF;
$font: 'Open Sans', sans-serif;
$calendar-font: 'Georgia', sans-serif;
$finance-font: 'Segoe UI', 'Helvetica', 'Open Sans', sans-serif;
$news-font: 'Tahoma', 'Verdana', 'Geneva' sans-serif;
$weather-color: #2d98da;
$calendar-color: #20bf6b;
$finance-color: #eb3b5a;
$news-color: #4b6584;
$location-color: #3867d6;
$credits-color: #fd9644;
$about-color: #2bcbba;
$primary-nav: #0fb9b1;
$widget-size: 2rem;

@use './headers';

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  font-family: $font;
  color: #FFF;
  font-size: 2rem;
  // overflow: hidden;
}

.nav--primary {
  display: none;
}


main {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.widgets {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr repeat(2, 5fr) / repeat(2, 50%);
  grid-template-areas:
  "header header"
  "weather calendar"
  "finance news";
  justify-content: center;
}

.main-header {
  grid-area: header;
  background: #FFF;
  color: #000;
}

@mixin widget-layout($background-color) {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: $background-color;
}

.weather-widget {
  @include widget-layout($weather-color);
}

.weather-widget__icon {
  max-width: 100%;
}

.calendar-widget {
  @include widget-layout($calendar-color);
}

.calendar-widget__date {
  font-size: 5rem;
  font-weight: bold;
}

.finance-widget {
  @include widget-layout($finance-color);
  font-family: $finance-font;
}

.finance-widget__price {
  font-weight: bold;
  font-size: 2.5rem;
}

.news-widget {
  @include widget-layout($news-color);
  font-family: $news-font;
  font-weight: bold;
  padding: 5px;
}

// *****************************************************************************
//                         POPUPS
// *****************************************************************************

@mixin popup-layout($background-color) {
  background: $background-color;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

}
.weather-popup {
  // background: $weather-color;
  // position: absolute;
  // top: 0;
  // z-index: 100;
  // height: 100vh;
  // width: 100%;
  // display: flex;
  // flex-flow: column nowrap;
  @include popup-layout($weather-color);
}

.weather {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100%;
}

.weather__icon {
  // min-width: 40%;
  // min-height: 50%;
  // margin: auto;
}

.temp {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-around;
  align-items: baseline;
}

.weather__city {
  font-size: 3rem;
}

.temp__low {
  text-align: right;
}

.temp__high {
  text-align: left;
}

.temp__temp {
  font-size: 4rem;
}

.calendar-popup {
  @include popup-layout($calendar-color);
  // text-align: center;
}

.calendar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100%;
}

.month {
  font-size: 3rem;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid #FFF;
  box-sizing: border-box;
  // text-align: center;
}

.day {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(7, 1fr);
  font-size: 1.5rem;
  flex: 1 1 auto;
  // text-align: center;
  word-break: break-all;
  // box-sizing: border-box;
  // border: 1px solid #FFF;
}



.finance-popup {
  background: $finance-color;
}

nav {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

article .indexes {
}

.news-popup {
  @include popup-layout($news-color);
}
