/**
TABLE OF CONTENTS
1. shared styles
    a. layout
    b. header
    c. active popup
2. weather
3. calendar
4. finance + news
    a. shared styles
    b. finance
    c. news
*/

/*********************SHARED STYLES***********************/
// LAYOUT

.popup > article {
  height: var(--max-height);
  width: 100%;
  font-size: 1.5rem;
}

.weather,
.calendar,
.finance,
.news {
  height: $content-height;
  padding: $popup-padding;
}

// HEADER
.header {
  height: calc(#{$header-height} - 2rem);
  @include center(row, nowrap);
  clear: right;
}

.close {
  border: none;
  background: none;
  color: #fff;
  font-weight: bold;
  transition: $transition-hover;
  float: right;
  position: relative;
  top: 1rem;
  right: 1rem;
}

.close:hover {
  background: $hover-close-bg;
  color: $hover-close-main;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

// ACTIVE POPUP
@keyframes slideUp {
  from {
    top: calc(var(--vh) * 100);
  }
  to {
    top: 0;
  }
}

@keyframes slideDown {
  from {
    top: 0;
  }
  to {
    top: calc(var(--vh) * 100);
  }
}

.active-popup {
  position: absolute;
  z-index: 1000;
  top: 0;
}

/*********************WEATHER***********************/
.weather {
  @include column(nowrap);
}

.temp {
  @include center(row, nowrap);
  flex-grow: 1.25;
}

.current {
  font-size: $large-text;
  font-weight: bold;
}

.weather-details {
  @include center(column, nowrap);
  flex-grow: 1.5;
}

/*********************CALENDAR***********************/
.calendar {
  text-align: center;
  @include flex(row, wrap, space-evenly, flex-start);
}

.cell:nth-child(-n + 7) {
  font-weight: bold;
}

.cell {
  width: 14%;
}

.holiday {
  font-size: 0.75rem;
}

.today {
  border-radius: 5rem;
  color: $calendar-color;
  background: #fff;
}

/*********************FINANCE + NEWS***********************/
// SHARED STYLES
.finance-nav,
.news-nav {
  padding: $nav-padding;
  margin: 0;
  @include center(row, nowrap);
  transition: $transition-hover;
}

.tab {
  height: 100%;
}

.finance-nav li,
.news-nav li {
  padding: $nav-padding;
  border-radius: $radius;
  transition: $transition-hover;
  color: $primary-color;
}

.finance-nav li:hover,
.news-nav li:hover {
  cursor: pointer;
  background: $hover-tab;
}

.active-finance-tab,
.active-news-tab {
  background: $active-tab-bg !important;
  color: $hover-tab;
}

.changes::before {
  content: "\1D6E5 ";
}

// FINANCE
.finance {
  @include column(nowrap);
}

.finance-nav {
  color: $finance-color;
}

.indexes-info,
.crypto-info {
  height: 100%;
  @include center(row, wrap);
  text-align: center;
  display: none;
  padding: $nav-padding;
}

.indexes-info article,
.crypto-info article {
  align-self: center;
  width: 32%;
  background: white;
  color: $finance-color;
}

.active-finance {
  display: flex;
}

// NEWS
.national-headlines,
.world-headlines,
.business-headlines {
  display: none;
}

.news {
  @include column(nowrap);
}

.news-nav {
  color: $news-color;
}

.news .tab {
  margin-bottom: 1rem;
}

.active-headlines {
  height: 100%;
  @include center(column, nowrap);
}

.active-headlines li {
  font-size: 1rem;
  flex: 1 1 1rem;
  text-align: center;
  padding: 0 2px;
  min-width: 100%;
  @include center(row, wrap);
  text-overflow: ellipsis;
  min-width: 0;
}

.active-headlines li:nth-child(2n) {
  background: $headline-one;
  color: $news-color;
}

.active-headlines li:nth-child(2n -1) {
  background: $headline-two;
}
