//FONTS
$font: 'Open Sans', sans-serif;
$calendar-font: 'Verdana', sans-serif;
$finance-font: 'Consolas', 'Segoe UI', sans-serif;
$news-font: 'Tahoma', 'Verdana', sans-serif;

//SIZES
$font-size: 1.5rem;
$large-text: 3rem;
$radius: 10px;


//LAYOUT
$header-height: 15vh;
$content-height: 85vh;
$widget-padding: 1rem;
$popup-padding: 1rem;
$nav-padding: .5rem;
$action-padding: 1rem;
$nav-padding: .75rem;

//COLORS
$primary-color: #FFF;
$primary-nav-bg: #000;
$primary-nav-color: #fff;
$header-color: #000;
$weather-color: #2d98da;
$calendar-color: #20bf6b;
$finance-color: #eb3b5a;
$news-color: #4b6584;
$headline-one: #fff;
$headline-two: #000;
$location-color: #bdc3c7;
$about-color: #2d3436;
$credits-color:#1abc9c;
$active-tab-bg: #000;
$active-tab-main: #fff;
// $tab-bg: #fff;
// $active-tab-main: 
// $close-bg: #fff;
// $close-main: 

//TRANSITIONS
$transition-click: .3s;
$transition-hover: .5s;
$hover-widget: #888;
$hover-close-bg: #000;
$hover-close-main: #fff;
$hover-tab: #000;
// $transform-button: scale(1.2);

//MEDIA QUERIES
// $min-height: 400px;
// $min-width: 320px;