//FONTS
$font: 'Open Sans', sans-serif;
$calendar-font: 'Verdana', sans-serif;
$finance-font: 'Consolas', 'Overpass Mono', monospace;
$news-font: 'Tahoma', 'Verdana', sans-serif;

//SIZES
$font-size: 1.5rem;
$large-text: 3rem;
$radius: 10px;


//LAYOUT
$header-height: 15vh;
$content-height: 85vh;
$widget-padding: 1rem;
$popup-padding: 1rem;
$nav-padding: .5rem;
$action-padding: 1rem;
$nav-padding: .75rem;

//COLORS
$primary-color: #FFF;
$primary-nav-bg: #000;
$primary-nav-color: #fff;
$header-color: #000;
$news-color: #0B1436;
$finance-color: #19274B;
$calendar-color: #263C61;
$weather-color: #325176;
$headline-one: #fff;
$headline-two: #000;
$location-color: #716464;
$credits-color: #615454;
$about-color:#514545;
$active-tab-bg: #000;
$active-tab-main: #fff;

//TRANSITIONS
$transition-click: .3s;
$transition-hover: .5s;
$hover-widget: #888;
$hover-close-bg: #000;
$hover-close-main: #fff;
$hover-tab: #000;