/**
TABLE OF CONTENTS
1. imports
2. layout
3. tags
4. primary nav
5. main screen
    a. main header
    b. widgets
    c. update failed
    d. loading
*/
/*********************IMPORTS***********************/
/**
TABLE OF CONTENTS
1. shared styles
    a. layout
    b. header
    c. active popup
2. weather
3. calendar
4. finance + news
    a. shared styles
    b. finance
    c. news
*/
/*********************SHARED STYLES***********************/
.popup > article {
  height: var(--max-height);
  width: 100%;
  font-size: 1.5rem;
}

.weather,
.calendar,
.finance,
.news {
  height: calc(var(--vh) * 87.5);
  padding: 1rem;
}

.header {
  height: calc(calc(var(--vh) * 12.5) - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  clear: right;
}

.close {
  border: none;
  background: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  float: right;
  position: relative;
  top: 1rem;
  right: 1rem;
}

.close:hover {
  background: #000;
  color: #fff;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

@-webkit-keyframes slideUp {
  from {
    top: calc(var(--vh) * 100);
  }
  to {
    top: 0;
  }
}

@keyframes slideUp {
  from {
    top: calc(var(--vh) * 100);
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes slideDown {
  from {
    top: 0;
  }
  to {
    top: calc(var(--vh) * 100);
  }
}

@keyframes slideDown {
  from {
    top: 0;
  }
  to {
    top: calc(var(--vh) * 100);
  }
}

.active-popup {
  position: absolute;
  z-index: 1000;
  top: 0;
}

/*********************WEATHER***********************/
.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1.25;
      -ms-flex-positive: 1.25;
          flex-grow: 1.25;
}

.current {
  font-size: 2rem;
  font-weight: bold;
}

.weather-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
}

/*********************CALENDAR***********************/
.calendar {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cell:nth-child(-n + 7) {
  font-weight: bold;
}

.cell {
  width: 14%;
}

.holiday {
  font-size: 0.75rem;
}

.today {
  border-radius: 5rem;
  color: #263c61;
  background: #fff;
}

/*********************FINANCE + NEWS***********************/
.finance-nav,
.news-nav {
  padding: 0.75rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tab {
  height: 100%;
}

.finance-nav li,
.news-nav li {
  padding: 0.75rem;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.finance-nav li:hover,
.news-nav li:hover {
  cursor: pointer;
  background: #000;
}

.active-finance-tab,
.active-news-tab {
  background: #000 !important;
  color: #000;
}

.changes::before {
  content: "\1D6E5 ";
}

.finance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.finance-nav {
  color: #19274b;
}

.indexes-info,
.crypto-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
  padding: 0.75rem;
}

.indexes-info article,
.crypto-info article {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 32%;
  background: white;
  color: #19274b;
}

.active-finance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.national-headlines,
.world-headlines,
.business-headlines {
  display: none;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.news-nav {
  color: #0b1436;
}

.news .tab {
  margin-bottom: 1rem;
}

.active-headlines {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active-headlines li {
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1rem;
          flex: 1 1 1rem;
  text-align: center;
  padding: 0 2px;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-overflow: ellipsis;
  min-width: 0;
}

.active-headlines li:nth-child(2n) {
  background: #fff;
  color: #0b1436;
}

.active-headlines li:nth-child(2n -1) {
  background: #000;
}

/**
TABLE OF CONTENTS
1. layout
2. location
3. credits
4. about
*/
/*********************LAYOUT***********************/
.location-content, .credits-content, .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(var(--vh) * 87.5);
  padding: 1rem;
}

/*********************LOCATION***********************/
.location-details {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr;
      grid-template-areas: "city btn" "cc btn";
  padding: 10px 0;
}

.map {
  width: 100%;
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
}

.city {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: city;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cc;
  font-weight: bold;
  font-size: calc(1.5rem + .5rem);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: btn;
  border: none;
  background: #000;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.location-btn:hover {
  background: #fff;
  color: #000;
}

.location-btn:active {
  background: #888;
  color: inherit;
}

/*********************CREDITS***********************/
.credits-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.credits-list li {
  list-style-type: square;
  list-style-position: inside;
}

.credits-list a, .credits-content a {
  font-weight: bold;
  color: inherit;
}

/*********************ABOUT***********************/
.about-content {
  text-align: justify;
}

/*********************LAYOUT***********************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --vh: "";
}

body {
  height: var(--max-height);
  min-height: var(--max-height);
  width: 100%;
  min-width: 320px;
  min-height: 480px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: var(--max-height);
}

/*********************TAGS***********************/
button:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

div:hover {
  cursor: default;
}

h4 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

/*********************PRIMARY NAV***********************/
@-webkit-keyframes slideInNav {
  from {
    top: calc(-1 * calc(var(--vh) * 12.5));
    z-index: 0;
  }
  to {
    top: 0;
    z-index: 1000;
  }
}
@keyframes slideInNav {
  from {
    top: calc(-1 * calc(var(--vh) * 12.5));
    z-index: 0;
  }
  to {
    top: 0;
    z-index: 1000;
  }
}

@-webkit-keyframes slideOutNav {
  from {
    top: 0;
    z-index: 1000;
  }
  to {
    top: calc(-1 * calc(var(--vh) * 12.5));
    z-index: 0;
  }
}

@keyframes slideOutNav {
  from {
    top: 0;
    z-index: 1000;
  }
  to {
    top: calc(-1 * calc(var(--vh) * 12.5));
    z-index: 0;
  }
}

.inactive-nav {
  display: none;
}

.primary-nav {
  height: calc(var(--vh) * 12.5);
  position: absolute;
  z-index: 1000;
  width: 100%;
  background: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: inherit;
}

.link,
.primary-close {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0.5rem;
}

.link:hover,
.primary-close:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

/*********************MAIN SCREEN***********************/
.main-header {
  height: calc(var(--vh) * 12.5);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.main-header .title {
  margin: 0;
  color: #000;
}

.main-header .title:hover {
  cursor: default;
}

.menu,
.refresh {
  height: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu:hover,
.refresh:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.menu:active,
.refresh:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

[data-screen="weather"] {
  background: #325176;
}

[data-screen="calendar"] {
  background: #263c61;
}

[data-screen="finance"] {
  background: #19274b;
}

[data-screen="news"] {
  background: #0b1436;
}

[data-screen="location"] {
  background: #716464;
}

[data-screen="about"] {
  background: #514545;
}

[data-screen="credits"] {
  background: #615454;
}

[data-screen="calendar"] {
  font-family: "Verdana", sans-serif;
}

[data-screen="finance"] {
  font-family: "Consolas", "Overpass Mono", monospace;
}

[data-screen="news"] {
  font-family: "Tahoma", "Verdana", sans-serif;
}

.widgets {
  height: calc(var(--vh) * 87.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widgets > section {
  width: 50%;
  height: calc(calc(var(--vh) * 87.5)/ 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.widgets > section:hover {
  background: #888;
  cursor: pointer;
}

.main-screen .date,
.main-screen .price,
.headline {
  font-weight: bold;
}

.main-screen .date,
.main-screen .price {
  font-size: 2rem;
}

.update-failed {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: red;
  position: absolute;
  top: 0;
  z-index: 20000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
}

.update-failed button {
  border: none;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.update-failed button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #000;
  color: inherit;
}

.update-failed.inactive {
  display: none;
}

.loader {
  position: absolute;
  width: 100%;
  height: calc(var(--vh) * 87.5);
  top: calc(var(--vh) * 12.5);
  background: #325176;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader.inactive {
  display: none;
}

.bar {
  width: 0.5rem;
  height: 5rem;
  background: #fff;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  -webkit-animation: loading 2s infinite;
          animation: loading 2s infinite;
}

.bar:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bar:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bar:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bar:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.bar:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.bar:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bar:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes loading {
  0% {
    height: 0;
  }
  25% {
    height: 2.5rem;
  }
  50% {
    height: 5rem;
  }
  100% {
    height: 0;
  }
}

@keyframes loading {
  0% {
    height: 0;
  }
  25% {
    height: 2.5rem;
  }
  50% {
    height: 5rem;
  }
  100% {
    height: 0;
  }
}
/*# sourceMappingURL=main.css.map */