/**
TABLE OF CONTENTS
1. imports
2. layout
3. tags
4. primary nav
5. main screen
    a. main header
    b. widgets
    c. update failed
    d. loading
*/

/*********************IMPORTS***********************/
@import "./_variables";
@import "./_mixins";
@import "./_popups";
@import "./_actions";

/*********************LAYOUT***********************/

* {
  box-sizing: border-box;
}

// 100vh on mobile doesn't account for browser ui elements
:root {
  --vh: 1vh;
  --max-height: 100vh;
}

body {
  height: var(--max-height);
  min-height: var(--max-height);
  width: 100%;
  min-width: 320px;
  min-height: 480px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  color: $primary-color;
  font-family: $font;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: var(--max-height);
  // min-height: var(--max-height);
}

/*********************TAGS***********************/
button:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

div:hover {
  cursor: default;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/*********************PRIMARY NAV***********************/
@keyframes slideInNav {
  from {
    top: calc(-1 * #{$header-height});
    z-index: 0;
  }
  to {
    top: 0;
    z-index: 1000;
  }
}

@keyframes slideOutNav {
  from {
    top: 0;
    z-index: 1000;
  }
  to {
    top: calc(-1 * #{$header-height});
    z-index: 0;
  }
}

.inactive-nav {
  display: none;
}

.primary-nav {
  height: $header-height;
  position: absolute;
  z-index: 1000;
  width: 100%;
  background: #000;
  font-size: $font-size;
  font-weight: bold;
}

.links {
  @include flex(row, nowrap, space-around, center);
  margin: 0;
  padding: 0;
  height: inherit;
}

.link,
.primary-close {
  transition: $transition-hover;
  padding: 0.5rem;
}

.link:hover,
.primary-close:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

/*********************MAIN SCREEN***********************/
// MAIN HEADER
.main-header {
  height: $header-height;
  width: 100%;
  @include center(row, nowrap);
  padding: 0 1rem;
}

.main-header .title {
  margin: 0;
  color: #000;
}

.main-header .title:hover {
  cursor: default;
}

.menu,
.refresh {
  height: 50%;
  transition: $transition-hover;
}

.menu:hover,
.refresh:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.menu:active,
.refresh:active {
  transform: scale(0.9);
}

// WIDGETS

// map each widget and screen type to a color and font
$screen-colors: (
  "weather": $weather-color,
  "calendar": $calendar-color,
  "finance": $finance-color,
  "news": $news-color,
  "location": $location-color,
  "about": $about-color,
  "credits": $credits-color
);

$screen-fonts: (
  "calendar": $calendar-font,
  "finance": $finance-font,
  "news": $news-font
);

//set each screen and widget type's color and font
@each $screen, $color in $screen-colors {
  [data-screen="#{$screen}"] {
    background: $color;
  }
}

@each $screen, $font in $screen-fonts {
  [data-screen="#{$screen}"] {
    font-family: $font;
  }
}

.widgets {
  height: $content-height;
  @include center(row, wrap);
}

.widgets > section {
  width: 50%;
  height: calc(#{$content-height}/ 2);
  @include center(column, nowrap);
  font-size: $font-size;
  text-align: center;
  padding: $widget-padding;
  transition: $transition-hover;
}

.widgets > section:hover {
  background: $hover-widget;
  cursor: pointer;
}

.weather-widget {
  justify-content: center;
  align-items: center;
}

.weather-icon-widget {
  max-width: 90%;
}

.main-screen .date,
.main-screen .price,
.headline {
  font-weight: bold;
}

.main-screen .date,
.main-screen .price {
  font-size: $large-text;
}

// UPDATE FAILED
.update-failed {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: red;
  position: absolute;
  top: 0;
  z-index: 20000;
  @include flex(column, nowrap, center, center);
  font-size: 3rem;
}

.update-failed button {
  border: none;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.update-failed button:hover {
  transition: $transition-hover;
  background: #000;
  color: inherit;
}
.update-failed.inactive {
  display: none;
}

.loader {
  position: absolute;
  width: 100%;
  height: $content-height;
  top: $header-height;
  background: $weather-color;
  @include flex(row, nowrap, center, center);
}

.loader.inactive {
  display: none;
}

.bar {
  width: 0.5rem;
  height: 5rem;
  background: $primary-color;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  animation: loading 2s infinite;
}

.bar:nth-child(2) {
  animation-delay: 0.1s;
}

.bar:nth-child(3) {
  animation-delay: 0.2s;
}

.bar:nth-child(4) {
  animation-delay: 0.3s;
}

.bar:nth-child(5) {
  animation-delay: 0.4s;
}

.bar:nth-child(6) {
  animation-delay: 0.5s;
}

.bar:nth-child(7) {
  animation-delay: 0.6s;
}

.bar:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes loading {
  0% {
    height: 0;
  }
  25% {
    height: 2.5rem;
  }
  50% {
    height: 5rem;
  }
  100% {
    height: 0;
  }
}
